@import "tailwindcss";

:root {
  --whatfix-dark: #2d3748;
  --whatfix-darker: #1a202c;
  --whatfix-blue: #3b82f6;
  --whatfix-orange: #ff6b35;
  --whatfix-bg: #f7fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
  ring: 2px;
  ring-color: var(--whatfix-blue);
}
